.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.textInput {
  padding: 12px;
  font-size: 1.3em;
  border: 2px solid rgb(201, 199, 199);
  border-radius: 2px;
  transition: all 0.2s ease;
  width: 100%;
}

.textInput:focus {
  outline: none;
  border: 2px solid rgb(95, 95, 95);
}

.clearBtn {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.2em;
  color: rgb(95, 95, 95);
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.clearBtn:hover {
  color: rgb(41, 74, 127);
}

.textInput[type="number"]::-webkit-outer-spin-button,
.textInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textInput[type="number"] {
  -moz-appearance: textfield;
}

.searchInput {
  width: 30vw;
}
