.Btn {
  width: fit-content;
  border: none;
  padding: 15px 45px;
  font-size: 1em;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.Btn:hover {
  cursor: pointer;
}

.Btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.loginSwitchBtn {
  font-weight: 500;
  color: rgb(102, 104, 106);
  transition: all 0.2s ease;
}

.loginSwitchBtn:hover {
  color: white;
  background-color: rgb(41, 74, 127);
}

.regBtn,
.headerBtn {
  font-weight: 500;
  color: white;
  background-color: rgb(41, 74, 127);
  border: 2px solid rgb(41, 74, 127);
  transition: all 0.2s ease;
}

.regBtn:hover,
.headerBtn:hover {
  border: 2px solid rgb(84, 84, 84);
  color: rgb(102, 104, 106);
  background-color: white;
}
