.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.436);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContent {
  background: #fff;
  padding: 30px;
  width: fit-content;
  max-width: 90%;
  max-height: 90vh;
  height:fit-content;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modalContent h1{
  color:rgb(41, 74, 127);
}

.modalContent h3{
  font-weight: 500;
}